/* 
.add-state-page {
  padding-left: 1rem;
  background: #f6f8fc;
  min-height: 100vh;
  position: relative;
} */
  
.state-table-wrapper{
  margin-top: -20px;
}

.form-table {
  width: 986px;
  height: 107px; 
  border-collapse: collapse;
  color: #0C0C0C;
  border: 1px solid #E6E4F0;
  border-radius: 12px;
  color: #F8F8F8;
  overflow: hidden;  
}
  
.form-table th,
.form-table td {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid #E6E4F0;
  background: #FFFFFF;
}

.form-table thead tr {
  border-bottom: 1px solid #E6E4F0;
}
  
.form-table th {
  color: #0C0C0C;
  height: 69px;
  width:1096px;
  background: #FFFFFF; 
}
  
.form-table th:last-child,
.form-table td:last-child {
  border-right: none;
}
  
.form-table input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  padding: 12px 8px;
  background: transparent;
}
  
.btn.save {
  padding: 10px 24px;
  background-color: #4f46e5;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 26px;
}
  
.save-button-cell {
  display: flex;
  align-items: center;  
  justify-content: center; 
  height: 100%;           
}
  
.btn.save:hover {
  background-color: #4338ca;
}
@media(width:360px){
  .form-table th{
     font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid #E6E4F0;
  background: #FFFFFF;
  height:45px;
  }

.form-table td {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid #E6E4F0;
  background: #FFFFFF;
  height:40px;
}
}











